{% extends "base.html" %}
{% block content %}

<div class="hero-pic"></div>
<div class="row">
   <div class="col s12 m6 offset-m3 center-align">
      <h1>Welcome to London!</h1>
      <p>Become part of our London community where you can explore the best places to eat, drinks and explore tips provided by our members and 
          recommend places yourself! 
      </p>
   </div>
</div>
<!--Credited to Adam (named in readme)-->
{% if category|length > 0 %}
<div class="container" >
   <div class="row">
      {% for cat in category %}    
      <div class="col s12 m4">
         <div class="card">
            <div class="card-image">
               <a href="{{url_for('tip_page', tip_id=cat._id)}}">
               <img src="{{cat.tips_img}}" alt="{{cat.tips_name}}">   
               </a>                 
            </div>
            <div class="card-content" style="padding-top:12px; padding-bottom:12px">
               <p class="uppercase">{{cat.category_name}}</p>
               <p><strong>{{ cat.tips_name }}</strong></p>
               <p>{{ cat.tips_short }}</p>
            </div>
         </div>
      </div>
      {% endfor %}
   </div>
</div>
{% else %}
<h3 class="red-text center-align">No results found!</h3>
{% endif %}

{% endblock %}