{% extends "base.html" %}
{% block content %}

<div class="hero-pic"></div>
<div class="row">
   <div class="col s12 m6 offset-m3 center-align">
      <h1>Welcome to London!</h1>
      <p>Become part of our London community where you can explore the best places to eat, drinks and explore tips provided by our members and 
          recommend places yourself! 
      </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
   </div>
</div>

<div class="container center-align" id="categories">
   <div class="row">
      <div class="col m2">
         <a href="{{ url_for('get_tips') }}#list"><i class="fa-solid fa-list"></i><br>SEE ALL</a> 
      </div>
      <div class="col m2">        
         <a href=""><i class="fa-solid fa-champagne-glasses"></i><br>DRINK</a>
      </div>
      <div class="col m2">
         <a href=""><i class="fa-solid fa-utensils"></i><br>EAT</a>  
      </div>
      <div class="col m2">  
         <a href=""><i class="fa-solid fa-hotel"></i><br>HOTELS</a>
      </div>
      <div class="col m2">  
         <a href=""><i class="fa-solid fa-dice"></i><br>ACTIVITIES</a>
      </div>
      <div class="col m2">  
         <a href=""><i class="fa-solid fa-heart"></i><br>FAVOURITES</a>
      </div>
   </div>
</div>

{% endblock %}